
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
    font-family: "微软雅黑";
}


body{
    display: block;z-index: -10;position: absolute;
    width: 100%;
    margin: 0 auto;
    background: #f4f4f4;

}
.top {
    width: 100%;
    background: #c24d67;
    height: 70px;
    border-bottom: 1px solid #f2f2f2;

}
.toplei{
    width: 70%;
    margin: 0 auto;
    height: 50px;
}
.top>div>ul:nth-of-type(1)>li{
    color: #f2f2f2;
    float: left;
    width: 20%;
    text-align: center;
    line-height:70px;
}
.toplei>ul:nth-of-type(1) li:hover{

    transition: all 0.3s linear ;
    cursor: pointer;
}
.toplei>ul:nth-of-type(1){
    float: left;
    width: 42%;
    margin-right: 0;
}
.toplei>ul:nth-of-type(3){
    float:left;
    width: 30%;
    margin-left: 5%;
}
.toplei>ul:nth-of-type(2){
    float: left;
    width: 20%;
    line-height: 70px;
}
.toplei>ul:nth-of-type(3) li{
    color: #f2f2f2;
    float: left;
    width: 16%;
    margin-right: 20px;
    text-align: center;
    line-height: 66px;

}

.toplei>ul:nth-of-type(1) li a,.toplei>ul:nth-of-type(3) li a{

    transition: all 0.3s linear ;
    color:#f2f2f2;
}
.toplei>ul:nth-of-type(1) li a:hover,.toplei>ul:nth-of-type(3) li a:hover{
    padding-bottom: 10px;
    border-bottom: 1px solid #9f466e;
    color: #9f466e;
}
.toplei>ul:nth-of-type(3) li:hover{
    color: #9f466e;
    transition: all 0.3s linear ;
    cursor: pointer;
}
.toplei>ul:nth-of-type(2) li{
    border-radius: 0 0 110px 110px;
    width:80%;
    height: 110px;
    background: #fff;
    text-align: center;
}
.toplei>ul:nth-of-type(2) li img{
    margin-top: 20px;
}
.touxiang{
    background: rgba(255,255,255,0.5);
    border: 1px solid #3ed;
    border-radius: 50%;
    width: 15%;
}

.huidao{
    position: fixed;
    right: 0;
    bottom: 20px;
    width: 40px;
    height:80px;

}

.huidao .toop{
    width: 40px;
    height: 40px;
    background: #cc2a4f;
    cursor: pointer;
}
.huidao .toop span{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../images/jiantou1.png")no-repeat;
    margin: 0 auto;
}

.huidao .boot{
    width: 40px;
    height: 40px;
    background: #cc2a4f;
    cursor: pointer;
}
.huidao .boot span{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../images/jiantou2.png")no-repeat;
    margin: 0 auto;
}
.beian{
    width: 100%;
    background: #cc2a4f;
    color: white;
    text-align: center;
    line-height: 30px;
    height: 30px;
    position: absolute;
    margin-top: 50px;
    bottom: 0px;
}

.ms1{
    width: 70%;
    height: 810px;
    margin: 50px auto;

}
.ms11{
    width: 30%;
    height: 30px;

}

.ms11  h5{
    width: 14%;
    height: 30px;
    line-height: 30px;
    color: #999999;
    float: left;
    display: block;
}
.ms11  a{
    width: 12%;
    color: #3f95ea;
    height: 30px;
    line-height: 30px;
    float: left;
    display: block;
}

.ms11  span{
    margin: 0 5px;
    height: 30px;
    line-height: 30px;
    color: #cccccc;
    display: block;
    float: left;
}
.ms1left{
    float: left;
    width: 30%;
    height: 700px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2)
}

.ms1right{
    float: left;
    width: 67%;
    height: auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2)

}
.ms1left1{
    width: 90%;
    height: 112px;
    margin: 0 auto;
}

.ms1left1 h2{
    width: 100%;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
}
.ms1left1 div:nth-of-type(1){
    width: 16%;
    float: left;
}
.ms1left1 div:nth-of-type(1) a{
    width: 100%;
    height: 60px;
    background: #3ed;
    border: 1px solid #33eedd;
    border-radius: 50%;
    display: block;
}
.ms1left1 div:nth-of-type(2){
    width: 70%;
    float: left;
}
.ms1left1 div:nth-of-type(2) a{
    width: 100%;
    height: 30px;
    line-height: 25px;
    margin-left: 10%;
    display: block;
}

.nav{
    width: 100%;

}

.nav ul{
    width: 100%;
}
.nav ul li{
    width: 25%;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: #45cc8a;
}
.nav_bg{
    width: 25%;
    background: #cc2a4f;
    height: 40px;
    transition: all 0.3s linear;

}
#content{
    width: 3600px;
    height: 100%;
    transition: all 0.3s linear;

}

#content li{
    width: 900px;
    height: 528px;
    float: left;
}
.ms1left ul:nth-of-type(1){
    width: 90%;
    margin: 20px auto;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
}
.ms1left ul:nth-of-type(1) li{
    width: 100%;
    height: 41px;
   border: 1px solid #ddd;
    line-height: 40px;
   background: white;
    margin-bottom: -1px;
    border-radius: 3px;
}
.ms1left ul:nth-of-type(1) li span{
    width: 10%;
    height: 40px;
    display: block;
    float: left;
}
.ms1left ul:nth-of-type(1) li span img{
    width: 80%;
    height: 30px;
    display: block;
    margin: 10% 5px;
}
.ms1left ul:nth-of-type(1) li a{
    display: block;
    float: left;
    width: 70%;
    height: 40px;
    line-height: 40px;
}

.ms1left ul:nth-of-type(1) li i {
    display: block;
    width: 10%;
    height: 36px;
    float: left;
    color: white;
    border-radius: 50%;
    background:#cc2a4f;
    text-align: center;
    margin: 1px auto;
}
.ms1left ul:nth-of-type(2){
    width: 90%;
    margin: 20px auto;
    border: 1px solid #faebcc;
    border-radius: 4px;
    background: #fcf8e3;
}
.ms1left ul:nth-of-type(2) li{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.ms1left ul:nth-of-type(2) li span{
    width: 10%;
    height: 30px;
    display: block;
    float: left;

}
.ms1left ul:nth-of-type(2) li a{
    display: block;
    float: left;
    width: 60%;
    height: 30px;
    line-height: 30px;
}

.content1{
    width: 90%;
    height: 500px;
    margin: 14px auto;
    border: 1px solid rgba(255,255,255,0);
}

.content1>a{
    width: 300px;
    height: 230px;
    border: 1px solid #3ed;
    display: block;
    float: left;
    margin-left: 64px;
    margin-top: 10px;
}
.content1 a img{
    width: 250px;
    height: 200px;
    border: 1px solid #3ed;
    display: block;
    float: left;
    margin: 10px auto;
}
.content1 a span{
    width: 20px;
    height: 230px;
    display: block;
    float: left;
    text-align: center;
    margin-left: 10px;
    color: white;
    padding-top: 20px;

}
.fenye{
    width: 320px;
    height: 40px;
    background: #3ed;
    display: block;
    margin-top: 440px;
    margin-left: 420px;
}
.fenye a{
    width: 79px;
    height: 40px;
    border: 1px solid white;
    display: block;
    float: left;
    text-align: center;
    line-height: 40px;
    margin-right: 1px;
    color: white;
}
.gun{
    width: 100%;
    height: 530px;
    overflow: auto;
}

@media (max-width:800px) {

    .footleft{
        width: 100%;
    }
    .footcenter{
        width: 100%;
    }
    .footright{
        width: 100%;
    }.foot2{
         width: 100%;
         background: rgba(34,34,34,1);
         height:676px;
     }
    .toplei{
        width: 100%;
        height: 50px;
    }
    .toplei>ul:nth-of-type(1) {
        width: 50%;
    }
    .toplei>ul:nth-of-type(2) {
        width: 0;
    }
    .toplei>ul:nth-of-type(2) li{
        width: 0;
    }
    .toplei>ul:nth-of-type(2) li img{
        margin-top: 20px;
    }

    .top>div>ul:nth-of-type(1)>li{
        color: #f2f2f2;
        float: left;
        width: 18%;
        text-align: center;
        line-height:70px;
        font-size: 12px;
        margin-left: 6%;
    }
    .toplei>ul:nth-of-type(3){
        float:left;
        width: 50%;
        margin-left: 0;
    }

    .toplei>ul:nth-of-type(3) li{
        color: #f2f2f2;
        float: left;
        width: 24%;
        text-align: center;
        line-height: 70px;
        height: 70px;
        margin-right: 0;
    }
    .toplei>ul:nth-of-type(3) li a{
        padding-bottom: 10px;
        transition: all 0.3s linear ;
        color:#f2f2f2;
        height: 70px;
        width: 100%;
    }
    .touxiang{
        background: rgba(255,255,255,0.5);
        border: 1px solid #3ed;
        border-radius: 50%;
        width: 15%;
        line-height: 15%;
    }
    .ms1left1 div:nth-of-type(2) a {
        width: 50%;
        height: 30px;
        line-height: 25px;
        margin-left: 0%;

    }
    .ms1left1 div:nth-of-type(1) a {
        width: 45%;
        height: 50px;
        background: #3ed;
        border: 1px solid #33eedd;
        border-radius: 27%;
    }
    .ms11 {
        width: 100%;
        height: 30px;
    }
    .ms1 {
        width: 100%;
        height: 500px;
        margin: 50px auto;
    }
    .ms1left1 div:nth-of-type(1) {
        width: 30%;
        float: left;
        margin-left: 20px;
    }
    .ms1left1 div:nth-of-type(2) {
        width: 60%;
        float: left;
    }
    .ms1left1 h2 {
        width: 40%;
        font-size: 12px;
        height: 50px;
        line-height: 50px;
    }
    .nav ul li {
        font-size: 12px;
    }
    .ms11 h5 {
        width: 17%;
    }
    .ms1left1 {
        width: 100%;
        text-align: center;
    }
    .ms1left {
        float: left;
        width: 100%;
        height: 570px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    }
    .ms1right {
        float: left;
        width: 100%;
        height: auto;
        overflow: hidden;
        position: relative;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        margin: 10px auto;
    }
}